# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración sensibles
Keys/
*.json

# Archivos temporales o de logs
*.log

# Archivos de resultados locales
resultados.csv

# Configuración de VS Code
.vscode/
